.container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 150px;
  height: 150px;
  background-color: teal;
  margin: 1px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-family: cursive;
  color: rgb(76, 76, 238);
}
.box:hover {
  background-color: blueviolet;
  cursor: cell;
}
